---
layout: page
title: Tags
---

<div class="tags">
{% for tag in site.tags limit:5%}
  {% assign t = tag | first | downcase | replace:" ","-" %}
  <div class='tag'><a href='#{{t}}'>{{t}}</a></div>
{% endfor %}
</div>
<hr>

{% for tag in site.tags %}
	{% assign t = tag | first %}
	{% assign posts = tag | last %}

	<h3>
		<strong>
		  {{tag | first | downcase | replace:" ","-"}}
	  </strong>
	  {{ posts | size }} posts.
	</h3>
	<ul>
		{% for post in posts %}
  		{% if post.tags contains t %}
  		  <section id='{{tag | first | downcase | replace:" ","-"}}'>
  				<li>
  	  			<a href="{{ post.url }}">{{ post.title }}</a>
  	  			<span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  				</li>
  			</section>
  		{% endif %}
		{% endfor %}
	</ul>
{% endfor %}