---
layout: page
title: Tags
---

<div class="tags">
{% for tag in site.tags limit:5%}
  {% assign t = tag | first | downcase | replace:" ","-" %}
  <div class='tag'><a href='#{{t}}'>{{t}}</a></div>
{% endfor %}
</div>
<hr>

{% for tag in site.tags %}
	{% assign t = tag | first %}
	{% assign posts = tag | last %}

	<h3>
		<strong>
		  {{tag | first | downcase | replace:" ","-"}}
	  </strong>
	  {{ posts | size }} posts.
	</h3>
	<ul>
		{% for post in posts %}
  		{% if post.tags contains t %}
  		  <section id='{{tag | first | downcase | replace:" ","-"}}'>
  				<li>
  					<h4 class="text-justify"><span class='muted'>{{ post.date | date: "%B %e, %Y" }}</span> | <a class='text-default' href="{{ post.url }}">{{ post.title }}</a></h4>
  				</li>
  			</section>
  		{% endif %}
		{% endfor %}
	</ul>
{% endfor %}