body {
	background-color: #F5F5F4;
	font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
	color: #3D3D3D;
}

header{
	border-radius: 0px !important;
}

.masthead{
    height:150px;
    background-image:url("/public/images/placeholder.gif");
    background-repeat:no-repeat;
}