<h2>Glen Keane</h2>
<img class='profile-pic' src='/public/images/profile.jpg' width='188' height='250'/>
<h3>About me:</h3>
<p class='justified'>
	<small>
	I am a 21 year old software developer from Waterford, Ireland. I am currently on an internship in <a href='www.nearform.com'>nearForm,</a> where I am working with node.js, and working on microservices architectures. I also love gaming and often spend my evenings playing games like Minecraft, Skyrim or GTAV, or hacking away on whatever takes my fancy.
</small>
</p>
<hr>

<h3>My ramblings</h3>
{% include postlist.html %}

<hr>

<h3>Post tags</h3>
{% include taglist.html %}

<hr>

<h3>Social feeds:</h3>
<h4>
	<small>
		<a href="https://Github.com/thekemkid">My Github.</a> <br>
		<a href="https://twitter.com/thekemkid">My Twitter.</a> <br>
		<a href="https://ie.linkedin.com/in/thekemkid">My LinkedIn.</a> <br>
		<a href="https://www.facebook.com/thekemkid">My Facebook.</a> <br>
		My handle is thekemkid if you want to look for me.
	</small>
</h4>

<a class="twitter-timeline" href="https://twitter.com/thekemkid" data-widget-id="621433166537097217">Tweets by @thekemkid</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
