<p class='justified'>
	I am a 24 year old Senior Software Engineer from Waterford, Ireland. I work for a local web consultancy called <a href='www.nearform.com'>NearForm,</a> where I work with high performance node.js, scalable microservice architectures and moonlight in the devops world. I also like to play with Rust whenever I get the chance. I'm an honors graduate in Applied Computing from Waterford institute of technology. I also love gaming and often spend my evenings playing games like Fallout 4, Skyrim or GTAV, or hacking away on whatever takes my fancy.
</p>
