<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/public/feed.xml">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/base.css">
        <title>{{ page.title }}</title>

    </head>
    <body>
        {% include header.html %}
        <div class="container col-sm-12" id="wrap">
            <div class="container col-sm-2"></div>
            
            <div class="container col-sm-6">
                {{ content }}
                {% include comments.html %}
                {% include commentCountScript.html %}
            </div>
    
            <div class="container col-sm-1"></div>
    
            <div class="container col-sm-2">
                {% include profile.html %}
             </div>
    
            <div class="container col-sm-1"></div>
        </div>
        <footer class="footer">
          <hr>
          <div class="container">
            <p class="text-muted">Copyright 2015-2020 Glen Keane.</p>
          </div>
        </footer>

        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/custom.js"></script>

        {% include analytics.html %}
        
    </body>
</html>
