---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <p class="post-meta">{{ page.date | date: "%B %e, %Y" }} · {{ page.author }}</p>
  <hr>
  {{ content }}
  <hr>
  {% if page.tags %}
  <p class="post-tags">
    {% for tag in page.tags %}
      {% assign t = tag | downcase | replace:" ","-" %}
      <a href="/tags/#{{t}}">{{ t }}</a>
    {% endfor %}
  </p>
  {% endif %}
  <nav class="post-nav">
    {% for post in site.posts %}
      {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
      {% endif %}
    {% endfor %}
    {% for post in site.posts %}
      {% if post_index1 == forloop.index0 %}
        <a href="{{ post.url }}">← Newer</a>
      {% endif %}
      {% if post_index0 == forloop.index %}
        <a href="{{ post.url }}" class="post-nav-older">Older →</a>
      {% endif %}
    {% endfor %}
  </nav>
</article>
